{% extends 'pueblos/base.html' %}

{% block content %}
    <h1>El estado del caso de uso es: {{ state }} </h1>
    <br />
    <a href="{% url 'pueblos:index' %}">Volver al inicio</a>
{% endblock content %}