{% extends 'pueblos/base.html' %}

{% block content %}
<ul>
    <li>
        <a href="{% url 'pueblos:listaNoticias200' %}">Listado de noticias de entrenamiento</a>
    </li>
    <li>
        <a href="{% url 'pueblos:notices_context_step' %}">Administrar noticias entrenamiento y contexto</a>
    </li>
    <li>
        <a href="{% url 'pueblos:notices_context' %}">Generar caso de estudio</a>
    </li>
    <li>
        <a href="{% url 'pueblos:notice_suggest_tags' %}">Sugerir etiquetas para noticia</a>
    </li>
    <li>
        <a href="{% url 'pueblos:syntactic_dictionary' 1 None %}">Diccionario sintáctico</a>
    </li>
    <li>
        <a href="{% url 'pueblos:syntactic_dictionary' 1 'plural' %}">Diccionario sintáctico solo para plurales</a>
    </li>
</ul>
{% endblock content %}