{% extends 'pueblos/base.html' %}

{% block content %}

    {% if lista_noticias_200 %}
        <ul>
        {% for noticia in lista_noticias_200 %}
            <li>
                <a href="{% url 'pueblos:noticia200' noticia.id %}"> {{ noticia.dstitular }} </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay noticias.</p>
    {% endif %}
{% endblock content %}