{% extends 'pueblos/base.html' %}

{% block content %}
    <ul>
        <li><a href="/pueblos/cleanDB/setIndividualContext">Limpiar BD</a></li>
        <li><a href="/pueblos/processWord/setIndividualContext">Procesar palabras de noticias</a></li>
        <li><a href="/pueblos/generateContext/setIndividualContext">Generar contexto</a></li>
        <li><a href="/pueblos/getRandomNotices/setIndividualContext">Generar lista de noticias con categorías</a></li>
    </ul>
    <a href="{% url 'pueblos:index' %}">Volver atrás</a>
{% endblock content %}