{% extends 'pueblos/base.html' %}

{% block content %}
    {% if notice %}
        <h1>{{ notice.dstitular }}</h1>
        <p>{{ notice.dscuerpo }}</p>
        <div>
            Categorias de la noticia:
            <ul>
            {% for category in categories %}
                <li>
                    {{ category }}
                </li>
            {% endfor %}
            </ul>
        </div>

        <div>
            Categorias sugeridas:
            <ul>
            {% for suggested_category in suggested_categories %}
                <li>
                    {{ suggested_category }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No hay una noticia con ese identificador.</p>
    {% endif %}
{% endblock content %}