{% extends 'pueblos/base.html' %}
{% load staticfiles %}
{% block content %}
    {% if filter == 'plural' %}
        <h1 class="col-xs-11">Diccionario sintáctico - Palabras terminadas en s</h1>
    {% else %}
        <h1 class="col-xs-9">Diccionario sintáctico</h1>
    {% endif %}
    <hr>
    <h4 class="col-xs-9">Buscar palabra</h4>
    <form id="search_word_form" class="userinput form-horizontal" role="form" method="POST"
          action="{% url 'pueblos:search_word' %}">
        {% csrf_token %}
        <div class="form-group">
			<label class="col-xs-4 control-label">Palabra a buscar: </label>
			<div class="col-xs-4">
				<input type="text" class="form-control" name="search_word" value="">
			</div>
		</div>
        <div class="form-group">
			<div class="col-xs-8 text-right"> <br />
                <input type="submit" class="btn btn-info" value="Buscar">
			</div>
		</div>
    </form>
    <form id="save_word_form" class="userinput form-horizontal" hidden="hidden" role="form" method="POST"
          action="{% url 'pueblos:save_word' %}">
        {% csrf_token %}
        <input type="hidden" name="found_word" value="">
        <h4 class="col-xs-9">Palabra encontrada</h4>
        <div class="form-group">
			<label class="col-xs-4 control-label"> </label>
			<div class="col-xs-4">
				<input type="text" class="form-control" name="replace_word" value="">
			</div>
		</div>
        <label class="col-xs-4 control-label">¿Borrar palabra?</label>
        <div class="col-xs-1">
            <input type="checkbox" name="delete_word" value="">
        </div>
        <div class="form-group">
			<div class="col-xs-8 text-right"> <br />
                <input type="submit" class="btn btn-info" value="Modificar">
			</div>
		</div>
    </form>
    <span class="label col-xs-offset-4" hidden="hidden" id="message"></span>
    {% if words %}
        </br>
        </br>
        <div class="pagination">
            <span class="step-links">
                {% if words.has_previous %}
                    <a href="{% url 'pueblos:syntactic_dictionary' words.previous_page_number filter %}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ words.number }} de {{ words.paginator.num_pages }}.
                </span>

                {% if words.has_next %}
                    <a href="{% url 'pueblos:syntactic_dictionary' words.next_page_number filter %}">Siguiente</a>
                {% endif %}
            </span>
        </div>
        <div>
            Palabras del diccionario:
            <form id="myform" action="{% url 'pueblos:syntactic_dictionary' words.number filter %}" method="post">
                {% csrf_token %}
                <table class="table table-striped table-bordered">
                    <thead><tr><th>Borrar</th><th>Palabra a sustituir</th><th>Palabra nueva</th></tr></thead>
                    <tbody>
                {% for word in words %}
                    {% if word.replace_word %}
                        <tr class="info">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>
                            <input type="checkbox" name="del_words[]" value="{{ word.word }}" />
                        </td>
                        <td>
                            {{ word.word }}
                        </td>
                        <td>
                            <input type="text" name="{{ word.word }}" value="{{ word.replace_word }}" />
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-info">Ejecutar</button>
            </form>
            <div class="error"></div>
            <div class="ajaxProgress">
                <h3>Por favor espere... Esta tarea puede tardar varios minutos</h3>
                <img src="{%  static 'pueblos/img/ajax-loader.gif' %}">
            </div>

            <div id="output"></div>
        </div>
    {% else %}
        <p>
            El diccionario está vacío, por favor seleccione unas noticias
            <a href="{% url 'pueblos:notices_context_step' %}">aquí </a> y genere sus palabras asociadas.
        </p>
    {% endif %}
    {% if saved %}
        <div class="success">Datos guardados en la base de datos</div>
    {% endif %}
    <br />
    <br />
    <a href="{% url 'pueblos:index' %}">Volver a la página principal</a> </br>
    <div class="pagination">
        <span class="step-links">
            {% if words.has_previous %}
                <a href="{% url 'pueblos:syntactic_dictionary' words.previous_page_number filter %}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ words.number }} de {{ words.paginator.num_pages }}.
            </span>

            {% if words.has_next %}
                <a href="{% url 'pueblos:syntactic_dictionary' words.next_page_number filter %}">Siguiente</a>
            {% endif %}
        </span>
    </div>
    <script type="text/javascript" src="{%  static 'pueblos/js/syntactic_dictionary.js' %}"></script>
{% endblock content %}